<div class="content-wrapper">
  <!-- START Form -->
  <div class="form-container">
    <h1 class="alpha"><%= t('header.login') %></h1>
    <div class="form__text">
      <span><%= t('login.message') %> <%= link_to  t('login.messageLink'), new_user_path %>
    </div>
    <% flash.each do |name, message| %>
      <div class="alert alert--wide <%= name %>"> 
      <%= message %>
      </div>
    <% end %>
    <%= form_tag sessions_path, html: { class: 'form' } do %>
      <div class="input">
        <div>
          <%= label_tag(:email, t('login.email'), class: 'input__label')  %>
        </div>
        <div>
          <%= text_field_tag(:email, nil, class: 'input__field') %>
        </div>
      </div>
      <div class="input">
        <div>
          <%= label_tag(:password, t('login.password'), class: 'input__label')  %>
        </div>
        <div>
          <%= password_field_tag(:password, nil, class: 'input__field') %>
        </div>
      </div>
      <div class="form__text input__btn--alone">
        <div class="prompt">
          <%= button_tag(t('header.login'), class: 'btn btn--cta prompt__confirm', name: nil) %>
        </div>
      </div>
    <% end %>
    <%= link_to '/auth/google_oauth2', class: 'btn btn--google' do %>
      <%= image_tag('google.png', alt: 'Google Logo') %> <span><%= t('login.google') %></span>
    <% end %>
  </div>
  <!-- END Form -->
</div>