<div class="content-wrapper">
  <%= link_to new_post_path, class: 'btn btn--icon btn--alone', role: 'button' do %>
    <i class="fal fa-marker"></i> 
    <%= t('post.newPost') %>
  <% end %>
  <% if @posts.any? %>
    <ul class="bare-list cards post-long__list">
      <% @posts.each do |post| %>
        <li class="post-long" id="post-<%= post.id %>">
          <div class="post-long__main">
            <div class="post-long__thumb">
              <img class="avatar" src="<%= post.image_url %>" />
            </div>
            <div class="post-long__info">
              <div class="post-long__title">
                <%= link_to post_path(post), class: 'card_link' do %>
                  <%= post.title %>
                <% end %>
              </div>
              <div class="post-long__date"><time datetime='<%= post.created_at %>'><%= l(post.created_at, format: :concise) %></time></div>
            </div>
          </div>
          <div class="post-long__btn">
            <%= link_to edit_post_path(post), class: 'btn btn--icon', role: 'button' do %>
              <i class="fal fa-edit"></i> 
              <%= t('edit.modify') %>
            <% end %>
            <%= link_to post_path(post), class: 'btn btn--icon btn--warning', role: 'button', method: :delete, remote: true do %>
              <i class="fal fa-trash"></i>
              <%= t('edit.delete') %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No has publicado ningún artículo</p>
  <% end %>
</div>