<div class="content-wrapper">
  <h1>Usuarios</h1>
  <p><%= page_entries_info @users %></p>
  <ul class="bare-list cards">
    <% @users.each do |user| %>
      <li class="user-card" id="user-<%= user.id %>">
        <div class="user-card__thumb">
          <%= image_tag(default_avatar(user), alt: 'Avatar', class: 'avatar') %>
        </div>
        <div class="user-card__main">
          <h3 class="user-card__username">
          <%= link_to user_path(user) do %>
            <% if user.name.present? %>
              <%= user.name %>
            <% else %>
              <%= user.username %>
            <% end %>
          <% end %>
          </h3>
          <div class="user-card__meta">
            <h4 class="user-card__account"><%= t('user.registered') %> <time datetime="<%= user.created_at %>"><%= l(user.created_at, format: :concise) %></time></h4>
            <h4 class="user-card__account"><%= t('user.role') %>: <%= user.role %></h4>
            <% if user.role == 'author' %>
              <h4 class="user-card__account"><%= t('header.posts') %> <%= user.posts.count %></h4>
            <% end %>
              <h4 class="user-card__account"><%= t('post.comments') %>: <%= user.comments.count %></h4>
          </div>
        </div>
        <div class="user-card__form">
          <%= link_to edit_user_path(user), class: 'btn btn--icon', role: 'button' do %>
            <i class="fal fa-user-edit"></i> 
            <%= t('edit.modify') %>
          <% end %>

          <%= link_to user_path(user), class: 'btn btn--icon btn--warning', role: 'button', method: :delete, remote: true do %>
            <i class="fal fa-trash"></i>
            <%= t('edit.delete') %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="pagination-container">
    <%= paginate @users %>
  </div>
</div>