<div class="content-wrapper">
  <h1>Usuarios</h1>
  <ul class="bare-list cards">
    <% @users.each do |user| %>
      <li class="user-card">
        <div class="user-card__thumb">
          <%= image_tag('passifloras/gulupa_1.jpeg', alt: 'Avatar', class: 'avatar') %>
        </div>
        <div class="user-card__main">
          <h3 class="user-card__username">
          <%= link_to user_path(user) do %>
            <% if user.name.present? %>
              <%= user.name %>
            <% else %>
              <%= user.username %>
            <% end %>
          <% end %>
          </h3>
          <div class="user-card__meta">
            <h4 class="user-card__account">Registrado desde el <time datetime="<%= user.created_at %>"><%= user.created_at.strftime("%d %b '%y") %></time></h4>
            <h4 class="user-card__account">Tipo de usuario: <%= user.role %></h4>
            <% if user.role == 'author' %>
              <h4 class="user-card__account">Arículos: <%= user.posts.count %></h4>
            <% elsif user.role == 'registered' %>
              <h4 class="user-card__account">Comentarios (corregir): <%= user.posts.count %></h4>
            <% end %>
          </div>
        </div>
        <div class="user-card__form">
          <%= link_to edit_user_path(user), class: 'btn btn--icon', role: 'button' do %>
            <i class="fal fa-user-edit"></i> 
            Modificar
          <% end %>

          <%= link_to user_path(user), class: 'btn btn--icon btn--warning', role: 'button', method: :delete do %>
            <i class="fal fa-trash"></i>
            Borrar
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>