<div class="content-wrapper">
  <!-- START Form -->
  <div class="form-container">
    <h1 class="alpha"><%= t('header.signup') %></h1>
    <div class="form__text">
      <span><%= t('register.message') %> <%= link_to t('register.messageLink'), login_path %></span>
    </div>
    <%= link_to '/auth/google_oauth2', class: 'btn btn--google' do %>
      <%= image_tag('google.png', alt: 'Google Logo') %> <span><%= t('register.google') %></span>
    <% end %>
    <%= form_for @user, html: { class: 'form'} do |f| %>
      <div class="alert alert--wide">
        <%= @user.errors.full_messages.join('<br />').html_safe  %>
      </div>
      <!-- Name -->
      <div class="input">
        <div>
          <%= f.label :name, class: 'input__label' %>
        </div>
        <div>
          <%= f.text_field :name, class: 'input__field' %>
        </div>
      </div>
      <!-- Username -->
      <div class="input">
        <div>
          <%= f.label :username, class: 'input__label' %>
        </div>
        <div>
          <%= f.text_field :username, class: 'input__field' %>
        </div>
      </div>
      <!-- Email -->
      <div class="input">
        <div>
          <%= f.label :email, class: 'input__label' %>
        </div>
        <div>
          <%= f.email_field :email, class: 'input__field' %>
        </div>
      </div>
      <!-- Password -->
      <div class="input">
        <div>
          <%= f.label :password, class: 'input__label' %>
        </div>
        <div>
          <%= f.password_field :password, class: 'input__field' %>
        </div>
      </div>
      <!-- Password confirmation -->
      <div class="input">
        <div>
          <%= f.label :password_confirmation, class: 'input__label' %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, class: 'input__field' %>
        </div>
      </div>
      <!-- Submit -->
      <div class="form__text input__btn--alone">
        <div class="prompt">
          <%= f.submit t('header.signup'), class: 'btn btn--cta prompt__confirm' %>
        </div>
      </div>
    <% end %>
    
  </div>

  <!-- END Form -->
</div>