<div class="modify-bar">
  <div class="content-wrapper">
    <ul class="bare-list">
      <li>
        <%= link_to edit_user_path(@user), class: 'btn btn--icon', role: 'button' do %>
          <i class="fal fa-edit"></i> 
          Modify
        <% end %>
      </li>
      <li>
        <%= link_to user_path(@user), class: 'btn btn--icon btn--warning', role: 'button', method: :delete do %>
          <i class="fal fa-trash"></i>
          Delete
        <% end %>
      </li>
    </ul>
  </div>
</div>
<div class="content-wrapper">
  <div class="user">
    <div class="user__header">
    <% if @user.name.present? %>
      <h1 class="alpha"><%= @user.name %></h1>
    <% else %>
      <h1 class="alpha"><%= @user.username %></h1>
    <% end %>
      <span>Registrado desde: <time datetime="<%= @user.created_at %>"><%= @user.created_at.strftime("%d %b '%y") %></time></span>
      <span><%= @user.role %></button>
    </div>
    <div class="user__thumb">
      <%= image_tag('passifloras/gulupa_1.jpeg', alt: 'Avatar', class: 'avatar') %>
    </div>
    <div class="user__main">
      <h3 class="user__title">
        Biografía:
      </h3>
      <p class="user__bio">
        Sweet tootsie roll marzipan halvah cake lemon drops croissant cupcake cheesecake. Caramels sugar plum sweet
        lollipop cupcake marshmallow. Pudding sweet roll soufflé croissant icing danish. Muffin soufflé tootsie roll
        apple pie chocolate bar gingerbread ice cream. Gummies caramels pastry. Lollipop pie chocolate bonbon.<br>
        Dragée sweet roll sweet oat cake tart apple pie sesame snaps carrot cake muffin. Brownie chocolate bear
        claw. Marshmallow fruitcake cookie bonbon gingerbread oat cake. Chocolate cake danish sweet. Oat cake sweet
        roll croissant sugar plum jujubes. Liquorice danish donut bonbon sweet.</p>
    </div>
    <div class="user__footer">
      <% if @user.posts.any? %>
        <a class="btn">Posts</a>
      <% end %>
      
    </div>
  </div>
</div>