<div class="content-wrapper">
  <h2 class="alpha">Lo más reciente</h2>

  <ul class="bare-list cards">
    <li class="card">
      <div class="card__main">
        <div class="card__thumb">
          <img src="https://www.lullabot.com/sites/default/files/styles/promo_medium/public/2018-12/show-art_lullabot-podcast%402x.jpg?itok=21in6eCv" alt="Podcast" srcset="" />
        </div>
        <ul class="bare-list card__footer">
          <li><a class="btn btn--tag" href="">Podcast</a></li>
          <li><a class="btn btn--tag" href="">Historia</a></li>
          <li><a class="btn btn--tag" href="">Literatura</a></li>
        </ul>
        <div class="card__intro">
          <h3 class="card__title gamma">
            <a class="card_link" href="">Episode 1: Name of the Episode</a>
          </h3>

          <h5 class="card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet enim voluptatibus deserunt repellendus. Quisquam nisi
            repellat earum repudiandae porro ullam molestiae dolores
          </h5>
        </div>
        <div class="card__form">
          <form action="">
            <button class="btn icon" type="submit" name="action" value="like">
              <span class="fas fa-bookmark"></span>
            </button>
          </form>
        </div>
      </div>
      <div class="card__meta">
        <%= image_tag('passifloras/curuba_1.jpeg', alt: 'Avatar', class: 'avatar avatar-small') %>
        <span>por <a href="pages/user.html">el Podcast</a> - <time>04/07/2020</time></span>
      </div>

    </li>
    <li class="card">
      <div class="card__main">
        <div class="card__thumb">
          <img src="https://www.lullabot.com/sites/default/files/styles/promo_medium/public/2018-12/show-art_lullabot-podcast%402x.jpg?itok=21in6eCv" alt="Podcast" srcset="" />
        </div>
        <ul class="bare-list card__footer">
          <li><a class="btn btn--tag" href="">Podcast</a></li>
          <li><a class="btn btn--tag" href="">Historia</a></li>
          <li><a class="btn btn--tag" href="">Literatura</a></li>
        </ul>
        <div class="card__intro">
          <h3 class="card__title gamma">
            <a class="card_link" href="">Episode 1: Name of the Episode</a>
          </h3>

          <h5 class="card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet enim voluptatibus deserunt repellendus. Quisquam nisi
            repellat earum repudiandae porro ullam molestiae dolores
          </h5>
        </div>
        <div class="card__form">
          <form action="">
            <button class="btn icon" type="submit" name="action" value="like">
              <span class="fas fa-bookmark"></span>
            </button>
          </form>
        </div>
      </div>
      <div class="card__meta">
        <%= image_tag('passifloras/curuba_1.jpeg', alt: 'Avatar', class: 'avatar avatar-small') %>
        <span>por <a href="pages/user.html">el Podcast</a> - <time>04/07/2020</time></span>
      </div>

    </li>
    <li class="card">
      <div class="card__main">
        <div class="card__thumb">
          <img src="https://www.lullabot.com/sites/default/files/styles/promo_medium/public/2018-12/show-art_lullabot-podcast%402x.jpg?itok=21in6eCv" alt="Podcast" srcset="" />
        </div>
        <ul class="bare-list card__footer">
          <li><a class="btn btn--tag" href="">Podcast</a></li>
          <li><a class="btn btn--tag" href="">Historia</a></li>
          <li><a class="btn btn--tag" href="">Literatura</a></li>
        </ul>
        <div class="card__intro">
          <h3 class="card__title gamma">
            <a class="card_link" href="">Episode 1: Name of the Episode</a>
          </h3>

          <h5 class="card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet enim voluptatibus deserunt repellendus. Quisquam nisi
            repellat earum repudiandae porro ullam molestiae dolores
          </h5>
        </div>
        <div class="card__form">
          <form action="">
            <button class="btn icon" type="submit" name="action" value="like">
              <span class="fas fa-bookmark"></span>
            </button>
          </form>
        </div>
      </div>
      <div class="card__meta">
        <%= image_tag('passifloras/curuba_1.jpeg', alt: 'Avatar', class: 'avatar avatar-small') %>
        <span>por <a href="pages/user.html">el Podcast</a> - <time>04/07/2020</time></span>
      </div>

    </li>
    <li class="card">
      <div class="card__main">
        <div class="card__thumb">
          <img src="https://www.lullabot.com/sites/default/files/styles/promo_medium/public/2018-12/show-art_lullabot-podcast%402x.jpg?itok=21in6eCv" alt="Podcast" srcset="" />
        </div>
        <ul class="bare-list card__footer">
          <li><a class="btn btn--tag" href="">Podcast</a></li>
          <li><a class="btn btn--tag" href="">Historia</a></li>
          <li><a class="btn btn--tag" href="">Literatura</a></li>
        </ul>
        <div class="card__intro">
          <h3 class="card__title gamma">
            <a class="card_link" href="">Episode 1: Name of the Episode</a>
          </h3>

          <h5 class="card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet enim voluptatibus deserunt repellendus. Quisquam nisi
            repellat earum repudiandae porro ullam molestiae dolores
          </h5>
        </div>
        <div class="card__form">
          <form action="">
            <button class="btn icon" type="submit" name="action" value="like">
              <span class="fas fa-bookmark"></span>
            </button>
          </form>
        </div>
      </div>
      <div class="card__meta">
        <%= image_tag('passifloras/curuba_1.jpeg', alt: 'Avatar', class: 'avatar avatar-small') %>
        <span>por <a href="pages/user.html">el Podcast</a> - <time>04/07/2020</time></span>
      </div>

    </li>
    <li class="card">
      <div class="card__main">
        <div class="card__thumb">
          <img src="https://www.lullabot.com/sites/default/files/styles/promo_medium/public/2018-12/show-art_lullabot-podcast%402x.jpg?itok=21in6eCv" alt="Podcast" srcset="" />
        </div>
        <ul class="bare-list card__footer">
          <li><a class="btn btn--tag" href="">Podcast</a></li>
          <li><a class="btn btn--tag" href="">Historia</a></li>
          <li><a class="btn btn--tag" href="">Literatura</a></li>
        </ul>
        <div class="card__intro">
          <h3 class="card__title gamma">
            <a class="card_link" href="">Episode 1: Name of the Episode</a>
          </h3>

          <h5 class="card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet enim voluptatibus deserunt repellendus. Quisquam nisi
            repellat earum repudiandae porro ullam molestiae dolores
          </h5>
        </div>
        <div class="card__form">
          <form action="">
            <button class="btn icon" type="submit" name="action" value="like">
              <span class="fas fa-bookmark"></span>
            </button>
          </form>
        </div>
      </div>
      <div class="card__meta">
        <%= image_tag('passifloras/curuba_1.jpeg', alt: 'Avatar', class: 'avatar avatar-small') %>
        <span>por <a href="pages/user.html">el Podcast</a> - <time>04/07/2020</time></span>
      </div>

    </li>
    <li class="card">
      <div class="card__main">
        <div class="card__thumb">
          <img src="https://www.lullabot.com/sites/default/files/styles/promo_medium/public/2018-12/show-art_lullabot-podcast%402x.jpg?itok=21in6eCv" alt="Podcast" srcset="" />
        </div>
        <ul class="bare-list card__footer">
          <li><a class="btn btn--tag" href="">Podcast</a></li>
          <li><a class="btn btn--tag" href="">Historia</a></li>
          <li><a class="btn btn--tag" href="">Literatura</a></li>
        </ul>
        <div class="card__intro">
          <h3 class="card__title gamma">
            <a class="card_link" href="">Episode 1: Name of the Episode</a>
          </h3>

          <h5 class="card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet enim voluptatibus deserunt repellendus. Quisquam nisi
            repellat earum repudiandae porro ullam molestiae dolores
          </h5>
        </div>
        <div class="card__form">
          <form action="">
            <button class="btn icon" type="submit" name="action" value="like">
              <span class="fas fa-bookmark"></span>
            </button>
          </form>
        </div>
      </div>
      <div class="card__meta">
        <%= image_tag('passifloras/curuba_1.jpeg', alt: 'Avatar', class: 'avatar avatar-small') %>
        <span>por <a href="pages/user.html">el Podcast</a> - <time>04/07/2020</time></span>
      </div>

    </li>


  </ul>
</div>