  <!-- START Comments section-->
  <div class="post__comments post__section">
    <h3><%= t('post.comments') %></h3>
    <!-- START Comments form -->
    <% if logged_in? %>
      <div class="discussion comments--add">
        <%= form_for([post, comment], html: { class: 'input' }, remote: true ) do |f| %>
          <%= f.label :body, class: 'input__label sr-only' %>
          <%= f.text_field :body, class: 'input__field' %>
          <%= f.submit t('post.commentNew'), class: 'btn btn--cta'%>
        <% end %>
      </div>
    <% end %>
    <!-- END Comments form -->
    <!-- START Discussion -->
    <div class="discussion" id="discussion">
      <% comments.each do |comment| %>
        <div class="comment" id="comment-<%= comment.id %>">
          <div class="comment__avatar">
            <% if logged_in? && comment.user == current_user %>
              <%= link_to profile_path do %>
                <%= image_tag(default_avatar(comment.user), alt: 'Avatar', class: 'avatar') %>
              <% end %>
            <% elsif comment.user.role == 'author' %>
              <%= link_to username_path(comment.user.username) do %>
                <%= image_tag(default_avatar(comment.user), alt: 'Avatar', class: 'avatar') %>
              <% end %>
            <% else %>
              <%= image_tag(default_avatar(comment.user), alt: 'Avatar', class: 'avatar') %>
            <% end %>
          </div>
          <div class="comment__text">
            <p class="comment__user">
              <% if logged_in? && comment.user == current_user %>
                <%= link_to  comment.user.name, profile_path %>
              <% elsif comment.user.role == 'author' %>
                <%= link_to comment.user.name, username_path(comment.user.username) %>
              <% else %>
                <%= comment.user.name %>
              <% end %>
              <time  class="comment__time" datetime="<%= comment.created_at %>"> <%= time_ago_in_words(comment.created_at) %></time>
            </p>
            <p>
              <%= comment.body %>
            </p>
          </div>
          <% if logged_in? && can_delete_comment?(comment) %>
            <div class="comment__delete">
              <%= link_to post_comment_path(post, comment), class: 'btn btn--icon btn--warning', role: 'button', method: :delete, remote: true do %>
                <i class="fal fa-trash"></i>
                <%= t('edit.delete') %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- END Discussion -->
    <!-- END Comments section-->
  </div>