<%= form_for post, html: { class: 'form'} do |f| %>
  <div class="alert alert--wide">
     <%= post.errors.full_messages.join('<br />')  %>
  </div>
  <!-- Title -->
  <div class="input">
    <div>
      <%= f.label :title, class: 'input__label' %>
    </div>
    <div>
      <%= f.text_field :title, class: 'input__field' %>
    </div>
  </div>
  <!-- Image url -->
  <div class="input">
    <div>
      <%= f.label :image_url, class: 'input__label' %>
    </div>
    <div>
      <%= f.text_field :image_url, class: 'input__field' %>
    </div>
  </div>
  <!-- Tags -->
  <div class="input">
    <div>
      <%= f.label :tag_ids, class: 'input__label' %>
    </div>
    <div>
      <%= f.collection_select( :tag_ids, Tag.order(:name), :id, :name, {}, html_options = { class: 'input__field', multiple: true})%>
    </div>
  </div>
  <!-- Spotify id -->
  <div class="input">
    <div>
      <%= f.label :spotify_code, class: 'input__label' %>
    </div>
    <div>
      <%= f.text_field :spotify_code, class: 'input__field' %>
    </div>
  </div>
  <!-- Preview text  -->
  <div class="input">
    <div>
    <%= f.label :preview_text, class: 'input__label' %>
    </div>
    <div class="input--textarea input--post-text">
      <%= f.text_area :preview_text, class: 'input__field'%>
    </div>
  </div>
  <!-- body  -->
  <div class="input">
    <div>
    <%= f.label :body, "Contenido", class: 'input__label' %>
    </div>
    <div class="input--textarea input--post-text">
      <%= f.text_area :body, class: 'input__field'%>
    </div>
  </div>
  
  <div class="form__text">
    <a href="#"> Cancel</a>
  </div>
  <!-- Submit -->
  <div class="form__text input__btn--alone">
    <div class="prompt">
    <%= f.submit class: 'btn btn--cta prompt__confirm'%>
    </div>
  </div>
<% end %>