<div class="content-wrapper">
  <h1>Artículos</h1>
  <% if @posts.any? %>
    <ul class="bare-list cards post-long__list">
      <% @posts.each do |post| %>
        <li class="post-long">
          <div class="post-long__main">
            <div class="post-long__thumb">
              <img class="avatar" src="<%= post.image_url %>" />
            </div>
            <div class="post-long__info">
              <div class="post-long__title">
                <%= link_to post_path(post), class: 'card_link' do %>
                  <%= post.title %>
                <% end %>
              </div>
              <div class="post-long__author">
                <span> Autor: <%= link_to post.user.name, username_path(post.user.username), class: 'card_link' %></span>
              </div>
              <div class="post-long__date">
                <span>Publicado el <time datetime='<%= post.created_at %>'><%= post.created_at.strftime(" %d/%m/%Y") %></time></span>
              </div>
              <div class="post-long__users">
                <% if  post.users.count == 1%>
                  <span> <%= post.users.count %> usuario lo ha agregado a sus favoritos</span>
                <% else %>
                  <span> <%= post.users.count %> usuarios lo han agregado a sus favoritos</span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="post-long__btn">
            <%= link_to edit_post_path(post), class: 'btn btn--icon', role: 'button' do %>
              <i class="fal fa-edit"></i> 
              Modificar
            <% end %>
            <%= link_to post_path(post), class: 'btn btn--icon btn--warning', role: 'button', method: :delete do %>
              <i class="fal fa-trash"></i>
              Borrar
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No hay ningún artículo</p>
  <% end %>
</div>