<% if logged_in? && can_edit_post?(@post) %>
  <div class="modify-bar">
    <div class="content-wrapper">
      <ul class="bare-list">
        <li>
          <%= link_to edit_post_path(@post), class: 'btn btn--icon', role: 'button' do %>
            <i class="fal fa-edit"></i> 
            Modify
          <% end %>
        </li>
        <li>
          <%= link_to post_path(@post), class: 'btn btn--icon btn--warning', role: 'button', method: :delete do %>
            <i class="fal fa-trash"></i>
            Delete
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
<div class="content-wrapper">
  <article class="post">
    <div class="post__header post__section">
    <% if @post.tag_ids.present? %>
      <ul class="post__tags bare-list">
        <% @post.tags.each do |tag| %>
          <li>
            <%= link_to tag.name, name_path(tag.name), class: 'btn btn--tag' %>
          </li>
        <% end %>
      </ul>
    <% end %>
      <div class="post__title">
        <!-- Title -->
        
        <h1><%= @post.title %></h1>
      </div>
      <div class="post__header__media">
        <div class="post__meta">
          <%= image_tag(default_avatar(@post.user), alt: 'Avatar', class: 'avatar') %>
          <div class="meta-text">
            <div class="post__author">
              <!-- Author -->
              <span>por <%= link_to @post.user.name, username_path(@post.user.username) %></span>
            </div>
            <div class="post__date">
              <!-- Date -->
              
              <span><time datetime="<%= @post.created_at %>"><%= @post.created_at.strftime("%d %b '%y") %></time></span>
            </div>
          </div>
        </div>
        <ul class="post__links bare-list">
          <li>
            <a href="#" aria-label="Share on Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" aria-label="Share on Facebook">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <% if logged_in? %>
            <li class="post__form">
              <% if current_user.bookmarked_posts.exists?(@post.id) %>
                <%= link_to user_bookmark_path(current_user, id: @post.id), class: 'btn icon', role: 'button', method: :delete do %>
                  <i class="fal fa-trash"></i>
                <% end %>
              <% else %>
                <%= form_tag user_bookmarks_path(current_user), method: :post do  %>
                  <%= hidden_field_tag :post_id, @post.id %>
                  <%= button_tag class: 'btn icon', type: 'submit' do %>
                    <i class="fal fa-bookmark"></i>
                  <% end %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <!-- Add to reading list form /Remove from list-->
      </div>

      <div class="post__thumb">
        <img
          src="<%= @post.image_url %>"
          alt="Podcast" srcset="" />
      </div>
    </div>
    <div class="post__main post__section">
      <div class="post__content">
        <p>
          <%= @post.body %>
        </p>
      </div>
      <% if @post.spotify_code.present? %>
        <div class="post__episode">
          <iframe src="https://open.spotify.com/embed-podcast/episode/<%= @post.spotify_code %>" width="100%"
            height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      <% end %>
    </div>
  </article>
  <!-- START Comments section-->
  <div class="post__comments post__section">
    <h3>Comentarios</h3>
    <!-- START Comments form -->
    <% if logged_in? %>
      <div class="discussion comments--add">
        <div class="comment__text">
          <%= form_for([@post, @comment], html: { class: 'input input--textarea' }) do |f| %>
            <%= f.label :body, 'Agregar comentario', class: 'input__label sr-only' %>
            <%= f.text_area :body, class: 'input__field' %>
            <%= f.submit 'Publicar', class: 'btn btn--cta'%>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- END Comments form -->
    <!-- START Discussion -->
    <div class="discussion">
      <% @comments.each do |comment| %>
        <div class="comment">
          <div class="comment__avatar">
            <% if logged_in? && comment.user == current_user %>
              <%= link_to profile_path do %>
                <%= image_tag(default_avatar(comment.user), alt: 'Avatar', class: 'avatar') %>
              <% end %>
            <% elsif comment.user.role == 'author' %>
              <%= link_to username_path(comment.user.username) do %>
                <%= image_tag(default_avatar(comment.user), alt: 'Avatar', class: 'avatar') %>
              <% end %>
            <% else %>
              <%= image_tag(default_avatar(comment.user), alt: 'Avatar', class: 'avatar') %>
            <% end %>
          </div>
          <div class="comment__text">
            <div class="comment__user">
              <span class="user__name">
                <% if logged_in? && comment.user == current_user %>
                  <%= link_to  comment.user.name, profile_path %>
                <% elsif comment.user.role == 'author' %>
                  <%= link_to comment.user.name, username_path(comment.user.username) %>
                <% else %>
                  <%= comment.user.name %>
                <% end %>
                <time  class="comment__time"datetime="<%= comment.created_at %>"> <%= time_ago_in_words(comment.created_at) %></time>
              </span>
            </div>
            <p>
              <%= comment.body %>
            </p>
          </div>
          <% if logged_in? && can_delete_comment?(comment) %>
            <div class="comment__delete">
              <%= link_to post_comment_path(@post, comment), class: 'btn btn--icon btn--warning', role: 'button', method: :delete do %>
                <i class="fal fa-trash"></i>
                Delete
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- END Discussion -->
    <!-- END Comments section-->
  </div>
</div>