<div class="content-wrapper">
  <div class="profile">
    <div class="profile__header">
    <% if @user.name.present? %>
      <h1 class="alpha"><%= @user.name %></h1>
    <% else %>
      <h1 class="alpha"><%= @user.username %></h1>
    <% end %>
      <span>Registrado desde: <time datetime="<%= @user.created_at %>"><%= @user.created_at.strftime("%d %b '%y") %></time></span>
    </div>
    <div class="profile__thumb">
      <%= image_tag(@user.avatar, alt: 'Avatar', class: 'avatar') %>
    </div>
    <div class="profile__main">
      <p class="profile__title">
        Nombre:
      </p>
      <p class="profile__bio"><%= @user.name %></p>
      <p class="profile__title">
        Usuario:
      </p>
      <p class="profile__bio"><%= @user.username %></p>
      <p class="profile__title">
        Email:
      </p>
      <p class="profile__bio"><%= @user.email %></p>
      <% if author? %>
        <p class="profile__title">
          Biografía:
        </p>
        <p class="profile__bio"><%= @user.bio %></p>
      <% end %>
    </div>
    <div class="profile__footer">
        <%= link_to 'Modificar mis datos', account_path, class: 'btn' %>
    </div>
  </div>
</div>