<div class="content-wrapper">
  <div class="profile">
    <div class="profile__header">
    <% if @user.name.present? %>
      <h1 class="alpha"><%= @user.name %></h1>
    <% else %>
      <h1 class="alpha"><%= @user.username %></h1>
    <% end %>
      <span><%= t('user.registered') %> <time datetime="<%= @user.created_at %>"><%= l(@user.created_at, format: :concise) %></time></span>
    </div>
    <div class="profile__thumb">
      <%= image_tag(default_avatar(@user), alt: 'Avatar', class: 'avatar') %>
    </div>
    <div class="profile__main">
      <div class="profile__title">
        <p><%= t('user.name') %>:</p>
      </div>
      <div class="profile__bio">
      <p><%= @user.name %></p>
      </div>
      <div class="profile__title">
        <p><%= t('user.username') %>:</p>
      </div>
      <div class="profile__bio">
      <p><%= @user.username %></p>
      </div>
      <div class="profile__title">
        <p><%= t('user.email') %>:</p>
      </div>
      <div class="profile__bio">
      <p><%= @user.email %></p>
      </div>
      <% if author? %>
        <div class="profile__title">
        <p ><%= t('user.bio') %>:</p>
        </div>
        <div class="profile__bio"><%= markdown(@user.bio) %></div>
      <% end %>
    </div>
    <div class="profile__footer">
        <%= link_to t('user.modify'), account_path, class: 'btn' %>
    </div>
  </div>
</div>