<div class="content-wrapper">
  <div class="profile">
    <div class="profile__header">
    <% if @user.name.present? %>
      <h1 class="alpha"><%= @user.name %></h1>
    <% else %>
      <h1 class="alpha"><%= @user.username %></h1>
    <% end %>
      <span><%= t('user.registered') %> <time datetime="<%= @user.created_at %>"><%= l(@user.created_at, format: :concise) %></time></span>
    </div>
    <div class="profile__thumb">
      <%= image_tag(default_avatar(@user), alt: 'Avatar', class: 'avatar') %>
    </div>
    <div class="profile__main">
      <p class="profile__title">
        <%= t('user.name') %>:
      </p>
      <p class="profile__bio"><%= @user.name %></p>
      <p class="profile__title">
        <%= t('user.username') %>:
      </p>
      <p class="profile__bio"><%= @user.username %></p>
      <p class="profile__title">
        <%= t('user.email') %>:
      </p>
      <p class="profile__bio"><%= @user.email %></p>
      <% if author? %>
        <p class="profile__title">
          <%= t('user.bio') %>:
        </p>
        <p class="profile__bio"><%= @user.bio %></p>
      <% end %>
    </div>
    <div class="profile__footer">
        <%= link_to t('user.modify'), account_path, class: 'btn' %>
    </div>
  </div>
</div>