    <!-- Start masthead -->
    <div class="masthead">
      <!-- Start Featured -->
      <div class="content-wrapper">
        <div class="featured">
          <div class="featured__header">
            <h1 class="alpha">Destacado</h1>
            <span><time>04/07/2020</time></span>
          </div>
          <div class="featured__thumb">
            <img
              src="<%= featured.image_url %>" srcset="" />
          </div>
          <div class="featured__main">
            <h3 class="featured__title">
              <%= link_to post_path(featured), class: 'featured_link gamma' do %>
                <%= featured.title %>
              <% end %>
            </h3>
            <p class="featured__text">
              <%= featured.preview_text %>
            </p>
            <div class="featured__author">
            <%= image_tag('passifloras/gulupa_1.jpeg', alt: 'Avatar', class: 'avatar avatar-medium') %>
              <span>por <a href="pages/user.html">Pepito Perez</a></span>
            </div>
          </div>
          <div class="featured__footer">
            <% if featured.tag_ids.present? %>
              <ul class="featured__tags bare-list">
                <% featured.tags.each do |tag| %>
                  <li>
                    <%= link_to tag.name, tag_path(tag.name), class: 'btn btn--tag' %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>