  <header class="header">
    <div class="header__image">
      <!-- Add here Featured image -->
      <% if @featured.present? %>
        <img src="<%= @featured.image_url %>" alt="Podcast" srcset="" />
      <% end %>
    </div>
    <!-- Start global header -->
    <div class="global-header">

      <div class="content-wrapper">
        <div class="logo">
          <%= link_to  "El Rincón de la Curuba", root_path %>
        </div>
        <div class="headers" id="show">
          <div class="hamburger" id="hamburger">
            <div></div>
          </div>
          <div class="social-media-header">
            <nav>
              <ul class="global-nav bare-list social-media-nav locales">
                <% I18n.available_locales.each do |locale| %>
                <li><%= link_to locale, url_for(locale: locale) %></li>
                <% end %>
              </ul>
            </nav>
            <nav>
              <ul class="global-nav bare-list social-media-nav">
                <li>
                  <a href="https://open.spotify.com/show/6ClS5WrBXFANCiYpdTVQNV?si=91_HREZNReaQCm9ufaZW3w" aria-label="Link to Spotify" target="_blank">
                    <i class="fab fa-spotify"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/olordelacuruba/" aria-label="Link to Instagram" target="_blank">
                    <i class="fab fa-instagram" ></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/Olordelacuruba" aria-label="Link to Twitter" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <% if logged_in? %>
                <% case current_user.role
                when 'registered' %><%= render partial: 'nav_registered_user' %>
                <% when 'author' %><%= render partial: 'nav_author_user' %>
                <% when 'admin' %><%= render partial: 'nav_admin_user' %>
                <% end %>
          <% else %>
            <%= render partial: 'nav_anonymous_user' %>
          <% end %>
        </div>
      </div>
    </div>
    <% if @featured.present? %>
      <%= render partial: 'featured_header', locals: { featured: @featured } %>
    <% end %>
    <% if current_page?(search_path) || current_page?(posts_path) %>
      <%= render partial: 'search' %>
    <% end %>
  </header>