<div class="main-header">
  <nav>
    <ul class="global-nav bare-list">
      <li> 
        <%= link_to search_path do %>
          <i class="far fa-search fa-lg"></i> 
          <span class="sr-only">Buscar</span>
        <% end %>
      </li>
      <li><%= link_to 'Nosotros', about_us_path %></li>
      <li><%= link_to 'Mis favoritos', bookmarked_path %></li>
      <li><%= link_to 'Mis Artículos', account_posts_path %></li>
      <li><%= link_to 'Mi cuenta', profile_path %></li>
      <li><%= link_to("Cerrar Sesión", session_path(1), method: :delete) %></li>
    </ul>
  </nav>
</div>