<div class="main-header">
  <nav>
    <ul class="global-nav bare-list">
      <li> 
        <%= link_to search_path do %>
          <i class="far fa-search fa-lg"></i> 
          <span class="sr-only">Buscar</span>
        <% end %>
      </li>
      <li><%= link_to 'Usuarios', users_path %></li>
      <li><%= link_to 'Artículos',  all_posts_path %></li>
      <li><%= link_to 'Mi cuenta', profile_path %></li>
      <li><%= link_to("Cerrar Sesión", logout_path, method: :delete) %></li>
    </ul>
  </nav>
</div>