<div class="main-header">
  <nav>
    <ul class="global-nav bare-list">
      <li> 
        <%= link_to search_path do %>
          <i class="far fa-search fa-lg"></i> 
          <span class="sr-only">Buscar</span>
        <% end %>
      </li>
      <li><%= link_to t('header.us'), about_us_path %></li>
      <li><%= link_to t('header.posts'), posts_path %></li>
      <li><%= link_to t('header.favorites'), bookmarked_path %></li>
      <li><%= link_to t('header.account'), profile_path %></li>
      <li><%= link_to(t('header.logout'), logout_path, method: :delete) %></li>
    </ul>
  </nav>
</div>