<li class="card" id="post-<%= post.id %>">
  <div class="card__main">
    <div class="card__thumb">
      <img src="<%= post.image_url %>" alt="Podcast" srcset="" />
    </div>
    <% if post.tag_ids.present? %>
      <ul class="card__footer bare-list">
        <% post.tags.each do |tag| %>
          <li>
            <%= link_to tag.name, name_path(tag.name), class: 'btn btn--tag' %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="card__intro">
      <h3 class="card__title gamma">
      <%= link_to post_path(post), class: 'card_link' do %>
        <%= post.title %>
      <% end %>
      </h3>
      <% if post.body.present? %>
        <h5 class="card__text">
          <%= post.body.truncate(160) %>
        </h5>
      <% end %>
    </div>
    
    <% if logged_in? %>
      <div class="card__form">
        <% if current_user.bookmarked_posts.exists?(post.id) %>
          <%= link_to user_bookmark_path(current_user, id: post.id), class: 'btn icon favorite-delete', role: 'button', method: :delete, remote: true do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card__meta">
    <%= link_to username_path(post.user.username), class: 'card__meta__avatar' do %>
      <%= image_tag(default_avatar(post.user), alt: 'Avatar', class: 'avatar avatar-small') %>
    <% end %>
    <span><%= t('post.by') %> <%= link_to post.user.name, username_path(post.user.username) %> - <time datetime='<%= post.created_at %>'><%= l(post.created_at, format: :concise) %></time></span>
  </div>
</li>