<li class="card">
  <div class="card__main">
    <div class="card__thumb">
      <img src="<%= post.image_url %>" alt="Podcast" srcset="" />
    </div>
    <% if post.tag_ids.present? %>
      <ul class="card__footer bare-list">
        <% post.tags.each do |tag| %>
          <li>
            <%= link_to tag.name, tag_path(tag.name), class: 'btn btn--tag' %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="card__intro">
      <h3 class="card__title gamma">
      <%= link_to post_path(post), class: 'card_link' do %>
        <%= post.title %>
      <% end %>
      </h3>

      <h5 class="card__text">
        <%= post.preview_text %>
      </h5>
    </div>
    <div class="card__form">
      <form action="">
        <button class="btn icon" type="submit" name="action" value="like">
          <span class="fas fa-bookmark"></span>
        </button>
      </form>
    </div>
  </div>
  <div class="card__meta">
    <%= image_tag('passifloras/curuba_1.jpeg', alt: 'Avatar', class: 'avatar avatar-small') %>
    <span>por <a href="pages/user.html">el Podcast</a> - <time>04/07/2020</time></span>
  </div>
</li>