<!-- START Masthead -->
<div class="masthead">
  <div class="content-wrapper">
    <!-- START Search form -->
    <%= form_tag(search_path, class: 'search search--cta', method: 'GET') do %>
      <!-- START Label -->
      <%= label_tag('global-search', t('search'), class: 'search__label sr-only', id: 'form-search') %>
      <!-- END Label -->
      <!-- START Search row -->
      <div class="search__row">
        <% if @search_term.present? %>
          <%= text_field_tag 'q', nil, class: 'search__field', id: 'global-search', placeholder: t('search'), value: @search_term %>
        <% else %>
          <%= text_field_tag 'q', nil, class: 'search__field', id: 'global-search', placeholder: t('search') %>
        <% end %>
        
        <%= submit_tag t('search'), class: "sr-only" %>
          <%= button_tag 'Reset', type: 'reset', class: 'target icon__big', id: 'reset' do %>
        <i class="fal fa-times-circle target"></i>
        <% end %>
      </div>
      <!-- END Search row -->

    <% end %>

    <!-- END Search form -->
  </div>
</div>
<!-- END Masthead -->